
<section class="aboutus text-indigo-200 body-font p-5 bg-gray-900">
    <Link to="coursedet">
      <div class="mx-auto flex px-5  md:flex-row flex-col items-center jobcard">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center">
          
          <figure class="visible">
        
                          <div class="">
                            
                              <div class="pt-10 px-2 sm:px-6">
                              <span class="inline-block py-1 px-2 rounded-full bg-green-600 text-white  text-xs font-bold tracking-widest mb-2">About Us</span>
                              <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-100">Securing your money....
           
          </h1>
          <p class="text-indigo-200 text-base pb-6">D-pay is largest payment website with a users over 250000 located even in the remotest parts of Country. D-pay offers a wide range of banking products and services to corporate and retail customers.</p>
          <p class="text-indigo-200 text-base pb-6">This website is currently under construction, so there might be some faults in some links of the websites. Basically, this website is designed to implement concepts of database. There are some features of banking application in this website to make easily convenient as an application.</p>
          <p class="text-indigo-200 text-base pb-6">D-pay is the Internet banking portal. The portal provides anywhere, anytime, online access to accounts for Retail and Corporate customers. The application is developed using the latest cutting edge technology and tools. The infrastructure supports unified, secure access to banking services for accounts in over 25,0000 users over country.</p>
            <p class="text-indigo-200 text-base pb-8">The D-pay banking application provides features to administer and manage corporate accounts online. The corporate module provides roles such as Regulator, Admin, Uploader, Transaction Maker, Authorizer, and Auditor. </p>
            <p class="text-indigo-200 text-base pb-8">Transactions through D-pay is very secure with all ease mode of payment. </p>
                      
            <div class="flex items-center justify-between">
                                      <div class="flex items-center pb-12">
                                          <div class="h-12 w-12">
                                              <img src="/media/pp.jpg" alt class="h-full w-full object-cover overflow-hidden rounded-full" />
                                          </div>
                                          <p class="text-indigo-200 font-bold ml-3">
                                              Aayush N <br />
                                              <span class="text-indigo-200 text-base font-light">DPay Inc</span>
                                          </p>
                                      </div>
                            
                                  </div>
                              </div>
                          </div>
                      </figure>
      
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 sm:block hidden">
          <img class="object-cover object-center rounded bg-white rounded-full" alt="hero" src="/media/logo.png" />
        </div>
      </div>
      </Link>
    </section>