<section class="interest">
    <!-- component -->
<style>
    body{background:white!important;}
</style>
<p class="text-lg text-center font-bold m-5">Savings Deposit Rates</p>
<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
  <tr class="text-left border-b-2 border-gray-300">
    <th class="px-4 py-3">Scheme</th>
    <th class="px-4 py-3">Existing Rate (%)</th>
    <th class="px-4 py-3">Revised Rate (%)</th>
  </tr>
  
  <tr class="bg-gray-100 border-b border-gray-200">
    <td class="px-4 py-3">DPay Minor Savings</td>
    <td class="px-4 py-3">2.8%</td>
    <td class="px-4 py-3">2.9%</td>
  </tr> 
<!-- each row -->
  <tr class="bg-gray-100 border-b border-gray-200">
    <td class="px-4 py-3">DPay Regular Savings</td>
    <td class="px-4 py-3">2.7%</td>
    <td class="px-4 py-3">2.9%</td>
  </tr> 
<!-- each row -->
  <tr class="bg-gray-100 border-b border-gray-200">
    <td class="px-4 py-3">DPay Senior Citizens Savings</td>
    <td class="px-4 py-3">3.0%</td>
    <td class="px-4 py-3">3.1%</td>
  </tr> 
<!-- each row -->

</table>

<p class="text-lg text-center font-bold m-5">Fixed deposit Rates</p>
<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-800 text-gray-200">
    <tr class="text-left border-b-2 border-gray-300">
        <th class="px-4 py-3">Scheme</th>
        <th class="px-4 py-3">Existing Rate</th>
        <th class="px-4 py-3">Revised Rate</th>
      </tr>
  <tr class="bg-gray-700 border-b border-gray-600">
    <td class="px-4 py-3">DPay Children FD (>=1 year)</td>
    <td class="px-4 py-3">6.0%</td>
    <td class="px-4 py-3">6.5%</td>
  </tr>    
<!-- each row -->
  <tr class="bg-gray-700 border-b border-gray-600">
    <td class="px-4 py-3">DPay Children FD (>=2 years)</td>
    <td class="px-4 py-3">6.3%</td>
    <td class="px-4 py-3">6.8%</td>
  </tr>    
<!-- each row -->
  <tr class="bg-gray-700 border-b border-gray-600">
    <td class="px-4 py-3">DPay Regular FD (>=1 year)</td>
    <td class="px-4 py-3">5.9%</td>
    <td class="px-4 py-3">6.3%</td>
  </tr>    
  <tr class="bg-gray-700 border-b border-gray-600">
    <td class="px-4 py-3">DPay Regular FD (>=2 years)</td>
    <td class="px-4 py-3">6.3%</td>
    <td class="px-4 py-3">6.7%</td>
  </tr>  
  <tr class="bg-gray-700 border-b border-gray-600">
    <td class="px-4 py-3">DPay Senior Citizens FD (min 6 mnths)</td>
    <td class="px-4 py-3">6.8%</td>
    <td class="px-4 py-3">7.2%</td>
  </tr>    
<!-- each row -->
</table>

<!-- dark design -->


<p class="text-lg text-center font-bold m-5">Loan Rates</p>
<table class="rounded-t-lg m-5 w-5/6 mx-auto text-gray-100 bg-gradient-to-l from-indigo-500 to-indigo-800">
    <tr class="text-left border-b-2 border-gray-300">
        <th class="px-4 py-3">Scheme</th>
        <th class="px-4 py-3">Existing Rate</th>
        <th class="px-4 py-3">Revised Rate</th>
      </tr>
  <tr class="border-b border-indigo-400">
    <td class="px-4 py-3">DPay Home Loan</td>
    <td class="px-4 py-3">7.8%</td>
    <td class="px-4 py-3">7.89%</td>
  </tr>    
<!-- each row -->
  <tr class="border-b border-indigo-400">
    <td class="px-4 py-3">DPay Education Loan</td>
    <td class="px-4 py-3">7.7%</td>
    <td class="px-4 py-3">7.6%</td>
  </tr>    
<!-- each row -->
  <tr class="border-b border-indigo-400">
    <td class="px-4 py-3">DPay Car Loan</td>
    <td class="px-4 py-3">8.0%</td>
    <td class="px-4 py-3">8.2%</td>
  </tr>  
  
  <tr class="border-b border-indigo-400">
    <td class="px-4 py-3">DPay Business Loan</td>
    <td class="px-4 py-3">7.7%</td>
    <td class="px-4 py-3">7.6%</td>
  </tr>  

  <tr class="border-b border-indigo-400">
    <td class="px-4 py-3">DPay Agriculture Loan</td>
    <td class="px-4 py-3">7.5%</td>
    <td class="px-4 py-3">7.2%</td>
  </tr>  
<!-- each row -->

</table>

<div class="mb-20"></div>
<!-- fill for tailwind preview bottom overflow -->
</section>