<section>
    
    <div class="pay bg-blue-400 m-auto p-auto py-10 h-8/9">
              
                <div class="grid-cols-4 lg:ml-40 md:ml-20 ml-10 ">
                  <div class="inline-block px-3">
                    <div
                      class="w-64 h-64 py-7 text-blue-700 font-extrabold max-w-xs overflow-hidden text-center rounded-lg shadow-md bg-white hover:shadow-xl "><a href="/transfer">
                      Transfer to Account<img class="bg-white rounded-full pl-10" width="180px" height="180px" src="/media/transfer.jpg"></a>
                    </div>
                  </div>
                  <div class="inline-block px-3">
                    <div
                      class="w-64 h-64 py-7  text-blue-700 font-extrabold max-w-xs overflow-hidden text-center rounded-lg shadow-md bg-white hover:shadow-xl ">
                      <a href="/topup_dpay">TopUp Dpay<img class="p-2" src="/media/topup1.jpg"></a>
                    </div>
                  </div>
                  <div class="inline-block px-3">
                    <div
                      class="w-64 h-64 py-7  text-blue-700 font-extrabold max-w-xs overflow-hidden text-center rounded-lg shadow-md bg-white hover:shadow-xl ">
                        <a href="/recharge">Recharge<img src="/media/topup.png"></a>
                    </div>
                  </div>
                  <div class="inline-block px-3">
                    <div
                      class="w-64 h-64 py-7 text-blue-700 font-extrabold  max-w-xs overflow-hidden text-center rounded-lg shadow-md bg-white hover:shadow-xl ">
                        <a href="/utilities">Utilities Payment<img class="pl-20 py-3" width="180px" height="180px" src="/media/utilities.png"></a>
                    </div>
                  </div>
                </div>
              
        </div>
        
</section>