<section class="terms">
    <h1>Terms and Conditions</h1>
    <ol class="px-7 bg-grey-lighter">
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula turpis eros, eu luctus erat pellentesque quis. Quisque a scelerisque augue, et volutpat leo. Sed venenatis diam eget mi posuere, eu malesuada mauris ultricies. Vestibulum feugiat ex sit amet ante sollicitudin, quis finibus dolor vulputate. Vestibulum a ex pellentesque libero porta fermentum at vel est. Mauris commodo, libero a semper consectetur, risus nisl elementum ante, et congue nisi diam a metus. Aliquam non mattis quam. Sed sit amet velit nec lacus posuere gravida. Vivamus in porttitor dui. Proin mollis consectetur ante, tempor fringilla neque vestibulum vitae. Morbi nunc dolor, ullamcorper non malesuada in, aliquam lacinia ante. Aenean pellentesque justo quis elit suscipit, eget porta sem lacinia. Curabitur suscipit, nisl nec sodales sodales, ex est volutpat nunc, nec sagittis nunc ipsum eu nisi.</li>
        <li>Nulla quis felis massa. Aenean non magna lorem. Pellentesque libero lacus, suscipit a urna vitae, lobortis mollis mauris. In hac habitasse platea dictumst. Maecenas a nibh in massa faucibus viverra non id est. Nulla lacinia accumsan lectus a consequat. Proin semper quam est, nec ultricies velit consectetur vel.</li>
        <li>In eu orci vel purus laoreet condimentum. Suspendisse egestas egestas nulla. Ut ac tincidunt dolor, eget porttitor felis. Integer accumsan, enim bibendum congue volutpat, tortor sapien placerat ligula, a semper elit ligula ut mauris. Suspendisse non iaculis metus. Praesent nec enim nunc. Ut maximus condimentum euismod. In lorem nisl, facilisis a nibh vel, tincidunt ultrices justo. Maecenas luctus neque neque, non suscipit velit egestas vel.</li>
    </ol>

    
</section>