<section class="topup">
    <h1>Send money to </h1>
    <div>
        <form action="/topup" method="POST" class="form bg-white p-6 my-10 relative w-1/2">
            <div class="flex space-x-5 mt-3">
                <input type="number" name="number" name="" id="" placeholder="Search number or account number" class="border p-2  w-1/2">
            </div>
            <input type="submit"  value="Search" class="mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3">
        </form>

        
    </div>

</section>